// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #FF1E45,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  medium:      #626262,
  dark:       #222,
  lightbg: #F8F9FB,
  themeBlue:    #2196F3,
  themeGreen:    #00CE85,
  themeViolet:    #673AB7,
  themeOrange:    #FFA000,
);

$app-gradient:  linear-gradient(16deg, #FE2424 0%, #FE2459 100%);
$black-gradient:  linear-gradient(16deg, #000 0%, #444 100%);

$app-transparent-gradient: linear-gradient(16deg, rgba(254,36,89,0.9) 0%, rgba(252,106,59,0.42) 100%);
$footer-toolbar-gradient: linear-gradient(-180deg, rgba(248,249,251,0) 0%, #F8F9FB 50%);
$footer-card-gradient: linear-gradient(-180deg, rgba(255,255,255,0) 0%, #FFF 50%);

$list-border-color : #EFEFEF;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$loading-ios-spinner-color: color($colors, primary); //not working for ion-spinner alone...


// Toolbar
$toolbar-ios-border-color : rgba(0,0,0,0);

// Normal button
$button-ios-border-radius : 26px;
$button-ios-text-transform : none;
$button-ios-font-size : 1.6rem;
$button-ios-padding : 1.4em 1.1em;

// Small button
$button-ios-small-font-size :	1.3rem;
$button-ios-small-padding : 1.3em 1.1em;

// iOS outline button
$button-ios-outline-border-width: 0;
$button-ios-outline-text-color: color($colors, medium);
$button-ios-outline-background-color: #FFF;

// iOS Card
$card-ios-border-radius : 16px;
$card-ios-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.16);
$card-ios-background-color: #FFF;
$card-ios-margin-left: 0;
$card-ios-margin-right: 0;

// iOS Card header
$card-md-header-padding: 12px 16px 0;

// iOS alerts
$alert-ios-border-radius: 14px;
$loading-ios-border-radius: 14px;
$alert-ios-head-padding: 24px 24px 10px 24px;
$alert-ios-message-padding: 0 24px 16px 24px;
$alert-ios-message-text-color: color($colors, dark);

$searchbar-ios-input-height: 4rem;




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$loading-md-spinner-color: red;
$spinner-md-circles-color: red;
$loading-md-spinner-crescent-color: red;
$loading-md-spinner-circles-color: red;
$loading-md-spinner-bubbles-color: red;
$loading-md-spinner-dots-color: red;
$loading-md-text-color: red;
$background-color: #FFF;

$toolbar-md-background : $app-gradient;

$toolbar-md-title-font-size : 1.6rem;
$toolbar-md-title-text-color: #FFF;


// Normal button
$button-md-font-weight : 600;
$button-md-border-radius : 26px;
$button-md-text-transform : none;
$button-md-font-size : 1.6rem;
$button-md-padding : 1.4em 1.1em;
$button-md-box-shadow : 0 3px 10px 0 rgba(231,158,171,0.8);
$segment-button-md-opacity-disabled: 0.4;


// Small button
$button-md-small-font-size :	1.3rem;
$button-md-small-padding : 1.4em 1.1em;

// MD outline button
$button-md-outline-border-width: 0;
$button-md-outline-text-color: color($colors, medium);
$button-md-outline-background-color: #FFF;
$button-md-outline-ripple-background-color: color($colors, medium);
$button-md-outline-box-shadow : inset 0 0 0 2px #EEE;


// MD Card
$card-md-border-radius : 16px;
$card-md-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.16);
$card-md-background-color: #FFF;
$card-md-margin-left: 0;
$card-md-margin-right: 0;

// MD Card header
$card-md-header-padding: 12px 16px 0;

// MD alerts
$alert-md-border-radius: 14px;
$loading-md-border-radius: 14px;
$alert-md-head-padding: 24px 24px 10px 24px;
$alert-md-message-padding: 0 24px 16px 24px;
$alert-md-message-text-color: color($colors, dark);

$segment-button-md-text-color-activated: white;
$segment-button-md-border-color-activated: white;





// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
