// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body{
}

ion-app.md, ion-app.ios {
  font-family: 'Nunito';
  font-weight: 500;
}

ion-content {
  &.activity-cards-view {
    background-color: color($colors,lightbg);
  }
  &.weeplan-splash-bg {
      background-color: #FFF;
  }
}

.blue-bg {
  background-color: color($colors,lightbg);
}



/*
Buttons missing css
*/

.button-ios {
  font-weight: 600;
}

.button-default-ios {
  box-shadow: 0 3px 10px 0 rgba(231,158,171,0.8);
  &.activated {
    box-shadow: 0 2px 4px 0 rgba(231,158,171,0.8);
  }
}

.button-outline-ios {
  box-shadow: inset 0 0 0 2px #EEE;
  &.activated {
    background-color: #FFF;
    color: color($colors, dark);
    box-shadow: inset 0 0 0 2px #DDD;
  }
}

.button-outline-md {
  &.activated {
    background-color: #FFF;
    color: color($colors, dark);
    box-shadow: inset 0 0 0 2px #DDD;
  }
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: color($colors, medium);
  box-shadow: none;
}

.dark-input {
  background-color: rgba(0,0,0,0.3);
  border-radius: 16px !important;
  color: white;
  padding: 0 6px;
  input {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(255,255,255,0.5);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(255,255,255,0.5);
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: rgba(255,255,255,0.5);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: rgba(255,255,255,0.5);
    }
  }
}


/*

WEEPLAN IOS

*/

.toolbar-ios {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.06) !important;

}


/*

WEEPLAN ANDROID

*/


// Android navbar {
ion-navbar.card-navbar {
  height: 140px;
  display: block;
  .toolbar-background-md {
    background-image: url(../assets/img/card-img-1.png), $app-gradient;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    &:after {
      content: "";
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: $app-transparent-gradient;
    }
  }

  ion-title {
    position: absolute;
    bottom: 20px;
    .toolbar-title {
      text-overflow: ellipsis;
      white-space: pre-line;
    }
  }


}

.navbar-search-icon {
  font-size: 1.4em !important;
}

// Side Menu


.navbar-menu-btn {
  order: 1;
}

ion-menu ion-header {
  width: 100%;
  background-image: $app-gradient;
}

.profile-pic {
  border-radius: 50%;
  height: 82px;
  width: 82px;
  background-image: url(../assets/img/profile-pic-default.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.10);
  &.profile-pic-menu {
    height: 60px;
    width: 60px;
    background-size: 60px 60px;
  }
  &.profile-pic-dashboard {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
  }
}

ion-menu ion-header {
  .profile-pic-menu {
    position: relative;
    margin: 12px 0;
  }
  .toolbar-title {
    padding: 0;
    text-align: left;
    color: white;
  }
  .profile-settings {
    position: absolute;
    right: 16px;
    top: 16px;
    color: black;
    opacity: 0.4;
    &.ion-ios-settings {
      top: 30px;
    }
  }
}

ion-menu ion-content {
  ion-list {
    padding-top: 4px;
    .item {
      font-size: 1.4rem;
      opacity: 0.6;
      &[detail-push] .item-inner, &:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
        background-image: none;
      }
      &.active {
        background-color: color($colors, lightbg);
        opacity: 1;
        font-weight: 500;
        color: color($colors, primary);
        ion-icon {
          color: color($colors, primary);
          opacity: 1;
        }
      }
      ion-icon {
        width: 22px;
        font-size: 1.5rem;
        opacity: 0.6;
        &.ion-md-search, &.ion-ios-search {
          font-size: 1.7rem;
        }
      }
    }
  }
}

// Dashboard

.dashboard-content {
  max-width: 580px;
  margin: auto;
  left: 0;
  right: 0;
}

.dashboard-profile {
  padding: 6px;
  .profile-pic-dashboard {
    margin-left: 0 !important;
  }
  .dashboard-profile-text {
    h6 {
      font-size: 1.4rem;
      margin: 4px 0 2px;
    }
    p {
      margin: 0;
      font-size: 1.2rem;
      color: color($colors, medium);
    }
    button {
      margin-left: -14px;
    }
  }
}

.dashboard-cards {
  .dashboard-cards-text {
    margin-top: 10px;
    text-align: center;
    ion-icon {
      font-size: 2.2rem;
      margin: 0;
      transform: rotate(2deg);
    }
    h6 {
      margin: 8px 0;
    }
  }
}


.dashboard-activity-search {
  position: relative;
  height: 186px;
}

.dashboard-search {
  position: relative;
  margin-top: 0px;
  height: 200px;
  background-image: url(../assets/img/dashboard-map-bg.png);
  background-size: cover;
  .map-marker-position {
    top: 40px;
    right: 70px;
  }
  &:before {
    content: "";
    position: absolute;
    left:0;
    right: 0;
    height: 100%;
    background-image: linear-gradient(-119deg, rgba(1,80,73,0.55) 9%, rgba(2,80,73,0.86) 88%);
  }
  .dashboard-search-form {
    margin-top: 24px;
    text-align: center;
    ion-icon {
      font-size: 2.6rem;
      color: white;
      margin-bottom: 12px;
    }


  }
}


.dashboard-search-form {
  margin-top: 30px;
}

.dashboard-activity-notation {
  position: relative;
  .activity-notation-comingsoon {
    position: absolute;
    height: 100px;
    margin-top:0;
    width: 100%;
    background-color: rgba(255,255,255,0.86);
    z-index: 100;
    padding: 40px 20px;
    text-align: center;
    font-weight: 600;
    color: color($colors,primary);
  }
  .activity-notation-placeholder {
    position: relative;
    margin-top: -28px;
    margin-left: 70px;
    height: 34px;
    width: 154px;
    background-size: 154px 34px;
    background-image: url(../assets/img/activity-notation-placeholder.png);
  }

}



// Android bottom toolbar

.footer-bottom-actions {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 100;
  background: $footer-toolbar-gradient;
  transform: translateY(0);
  transition: transform 400ms cubic-bezier(1, 0, 0, 1);
  -webkit-transition: transform 400ms cubic-bezier(1, 0, 0, 1);
  -moz-transition: transform 400ms cubic-bezier(1, 0, 0, 1);

  & > div {
    max-width: 580px;
    margin: auto;
  }

  &.hide {
    transition: transform 400ms cubic-bezier(1, 0, 0, 1);
    -webkit-transition: transform 400ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: transform 400ms cubic-bezier(1, 0, 0, 1);
    display: block !important;
    transform: translateY(600px);
  }

}

.ion-md-yep, .ion-ios-yep {
 color: color($colors, primary);
}

// Message Box

.message-box {
  border-radius: $card-md-border-radius;
  background-color:color($colors,light);
  padding: 20px 14px 6px;
  text-align: center;
  max-width: 580px;
  margin: auto;
  margin-bottom: 14px;
  &.message-box-chat {
    background-color: transparent;
    padding: 0;
    text-align: left;
  }
}

// Alert Boxes

ion-popover:not(.select-popover) {
  .popover-content {
   background: rgba(215, 0, 54, 0.8) !important;
   transform-origin: top right !important;
   top: 10px !important;
   right: 10px !important;
   left:auto !important;
   padding: 0;
   ion-list {
     margin: 0;
   }
  }
}





// Activity cards

ion-card {


  &.activity-card {
    position: absolute;
    left: 20px;
    right: 20px;
    height: auto;
    max-width: 580px;
    margin: auto;
    margin-bottom: 70px;
    border-radius: 20px;
    transform-origin: top;
    transition: all 600ms cubic-bezier(1, 0, 0, 1);
    -webkit-transition: all 600ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: all 600ms cubic-bezier(1, 0, 0, 1);
    transition-property: transform,opacity,visibility;
  }

  &.activity-card.activity-card_small {
    position: relative;
    left:auto;
    right: auto;
    height: auto;
    width: 212px;
    margin: auto;
    margin-bottom: 0;

    &.dashboard-activity-suggest {
      position: absolute;
      width: 100%;
      max-width: 200px;
      margin: auto;
      left: 0;
      right: 0;
      z-index: 100;
      transform: translate(-100px, 100px) rotate(-10deg) scale(0.8);
      opacity: 0;
      box-shadow: 0 8px 22px rgba(0,0,0,0.2);
      &.show {
        transition-delay:0.4;
        transform: translate(-10px, 0) rotate(-2deg) scale(1);
        opacity: 1;
      }
      .activity-title {
        font-size: 1.4rem;
      }
    }


    .card-image {
      height:84px;
    }
    .card-like-link {
      right: 6px;
      top: 6px;
      button.btn-like {
          font-size: 1.2em;
          padding: 8px 12px;
      }
    }
    .card-img-text {
      position: absolute;
      left: 10px;
      top: 10px;
      position: absolute;
      z-index: 100;
      color: white;
      font-weight: 500;
      text-shadow: 0 2px 4px rgba(0,0,0,0.3);
      background-color: rgba(0,0,0,0.4);
      border-radius: 18px;
      padding: 4px 10px;
      button.btn-like {
          font-size: 1.2em;
          padding: 8px 12px;
      }
    }
    .activity-title {
        font-weight: 600;
        font-size: 1.6rem;
        line-height:1.7rem;
        margin-bottom: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }

  .card-like-link {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 100;
    padding: 0;
    margin: 0;
    button.btn-like {
        font-size: 1.6em;
        padding: 4px 8px;
        ion-icon {
          color: white;
          text-shadow: 0 1px 2px rgba(0,0,0,0.5);
        }
    }
  }


  .card-image {
    position: relative;
    height:140px;
    overflow: hidden;
    border-radius: $card-md-border-radius 0 0 0;
    img {
      position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    }
  }

  &.no-card-image {
    .card-image {
      display: none;
    }
    .card-like-link {
      .btn-like {
        ion-icon {
          color: color($colors,primary);
          opacity: 0.6;
          text-shadow: none;
        }
        &.active {
          animation: scaleUp 400ms normal forwards;
          ion-icon {
            opacity: 1;
            color: color($colors,primary);
          }
        }
      }

    }

    .activity-title {
      width: calc(100% - 40px)
    }

  }


}

// Activity lists
.activity-item {



  &.selected {
    background-color: color($colors,lightbg);
    ion-avatar{
      box-shadow: 0 0 0 2px color($colors,primary), 0 2px 5px color($colors,primary);
    }
  }

  h2 {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  ion-avatar{
    overflow: hidden;
    max-width: 40px;
    max-height: 40px;
    border-radius: 10px;
    img {
      position: relative;
      border-radius: 0;
      display: block;
      width:100%;
      height: auto;
      object-fit: contain;
    }
  }

}


//Like heart button with animation

button.btn-like {
  font-size: 1.2em;
    margin: 0;
    &.active {
      animation: scaleUp 400ms normal forwards;
    }
    &.button-ios {
      height: 2em;
    }
  }

ion-card-header {
  white-space: normal !important;
}


.activity-title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    color: color($colors,primary);
    margin-bottom: 6px;
    overflow-wrap: normal;
    word-wrap: break-word;
}

.activity-subtitle {
  margin-bottom: 12px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
}

.activity-infos {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  li {
    padding-left: 24px;
    margin-bottom: 6px;
    font-size: 1.3rem;
    &.activity-infos__item_price {
      color: color($colors,primary);
      ion-icon {
        color: color($colors,primary);
      }
      &.free {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    ion-icon {
      position: absolute;
      margin-left: -24px;
      margin-right: 6px;
      color: color($colors, medium);
    }
  }
}

.activity-tag {
  display: inline-block;
  margin-right: 6px;
  background-color: color($colors, light);
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 3px 8px;
  color: color($colors, medium);
  text-transform: capitalize;

  &.activity-tag_dark {
    background-color: rgba(0,0,0,0.3);
    color: #FFF;
  }
}

.activity-description {
  color: color($colors, medium);
  font-size: 1.3rem;
}


.navbar-search {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);

  width: 100%;
  position: absolute;
  z-index: 1000;
}


// Swipe left card when ignored

.activity-card.hideRight {
  transition-delay:0;
  transform: translate(400px, 100px) rotate(10deg) scale(0.4);
  opacity: 0;
}

.activity-card.show {
  transition-delay:0.4;
  transform: translate(0, 0) rotate(0) scale(1);
  opacity: 1;
}

.activity-card.hideLeft {
  transition-delay:0;
  transform: translate(-400px, 100px) rotate(-10deg) scale(0.4);
  opacity: 0;

}

// Location searchbar

.content-location-search {
  position: absolute;
  z-index: 200;
  width: 100%;
  left:0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(1, 0, 0, 1);
  -webkit-transition: opacity 400ms cubic-bezier(1, 0, 0, 1);
  -moz-transition: opacity 400ms cubic-bezier(1, 0, 0, 1);


  //old ion-searchbar
  .location-searchbar {
    transform: translateY(-200px);
    transition: transform 400ms cubic-bezier(1, 0, 0, 1);
    -webkit-transition:  transform 400ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: transform 400ms cubic-bezier(1, 0, 0, 1);
    &.searchbar-ios {
      margin-top: 20px;
      .searchbar-search-icon {
        top: 14px;
      }
    }

  }

  // new custom search input

  .searchbar-input-container {
    position: relative;
    margin-top: 4px;
    transform: translateY(-200px);
    transition: transform 400ms cubic-bezier(1, 0, 0, 1);
    -webkit-transition:  transform 400ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: transform 400ms cubic-bezier(1, 0, 0, 1);

    .searchbar-input {
      padding: 12px 16px !important;
      box-shadow: 0 2px 4px rgba(0,0,0,0.4);
      border-radius: 3px;
    }
    .search-current-location-btn {
      position: absolute;
      top:0;
      right: 0;
      font-size: 1.2rem;
      color: color($colors, medium);
    }
  }





  &.show {
    visibility: visible;
    opacity: 1;
    .searchbar-input-container {
      transform: translateY(0px);
    }
  }

}


// Activity Filter Dropdown v1


.activity-filter-input {
  position: relative;
  ion-label {
    width: 20px;
    min-width: 20px;
    flex: 0 0 20px;
    text-overflow: initial;
    color: color($colors, medium);
    ion-icon {
      &.ion-md-search, &.ion-ios-search {
        font-size: 1.2em;
      }
    }
  }
  ion-input {

  }
  .close-input-btn {
    position: absolute;
    right: 0px;
    top: 6px;
    color: color($colors, medium);
    opacity: 0.8;
  }

}

.activity-filter-tag {
  list-style-type: none;
  display: inline-block;
  &.active {
    background-color: color($colors, primary);
    color: white;
    box-shadow: 0 3px 10px 0 rgba(231,158,171,0.8);
  }
}


.custom-input {
  .custom-input-label {
    width: 30px;
    float: left;
    padding-top: 3px;
    color: color($colors, medium);
    opacity: 0.8;
  }
  input {
    float: left;
    width: calc(100% - 30px);
    border: none;
  }
  .custom-input-close-btn {
    position: absolute;
    right: 0px;
    top: 10px;
    color: color($colors, medium);
    font-size: 1.2rem;
    opacity: 0.5;
    padding: 6px!important;
    &:hover {
      opacity: 0.8;
    }
  }
}


// Single Activity view

.activity-single {
  padding-bottom: 70px;
}

.activity-map-link {
  position: relative;
  height: 120px;
  border-radius: $card-md-border-radius;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/activity-map-bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Horizontal Slider for related activity small Cards

.hscroll-container {
  height: 260px;
  background-color: color($colors, lightbg);
  .hscroll-content {
    width: 1200px;
    white-space: nowrap;

    ion-card.activity-card {
      float: left;
      margin-right: 20px;
    }
  }
}

// h6 section title on top of containers, uppercase, small size
.section-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  color: color($colors, medium);
}



// Weeplan Splash with login buttons

.weeplan-splash-content {
  margin-top: 160px;
  text-align: center;
  color: color($colors, medium);
}

.splash-logo {
  position: relative;
  height: 70px;
  width: 225px;
  left: 0;
  right: 0;
  margin: 8% auto 0 auto;
  z-index: 102;
  background: url(../assets/img/splash-logo.svg) no-repeat;
  background-size: 225px 70px;
}

.splash-anim-container {
  position: absolute;
  max-width: 300px;
  height: 330px;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    z-index: 120;
    bottom: 0px;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 60%, rgba(255,255,255,0.00) 100%);
  }

  .splash-char {
    position: absolute;
    bottom: 60px;
    transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    &.splash-char1 {
      transition-delay: 0.2s;
      transform: translateY(400px);
    }
    &.splash-char2 {
      transition-delay: 0.4s;
      transform: translateY(400px) rotate(0deg);
    }
    &.splash-char3 {
      transition-delay: 0.5s;
      transform: translateY(400px) rotate(0deg);
    }
  }
  .splash-bg {
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    &.splash-bg1 {
      transition-delay: 0.3s;
      transform: translateY(400px) scale(0.8);
      opacity: 0;
    }
    &.splash-bg2 {
      transition-delay: 0.4s;
      transform: translateY(400px) scale(0.8);
      opacity: 0;
    }
  }

  &.show {
    .splash-char1 {
      transform: translateY(0);
    }
    .splash-char2 {
      transform: translateY(0) rotate(-6deg);
    }
    .splash-char3 {
      transform: translateY(0) rotate(6deg);
    }
    .splash-bg1, .splash-bg2 {
      transform: translateY(70px) scale(1);
      opacity: 1;
    }

  }
}

.splash-char1 {
  height: 166px;
  width: 85px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 102;
  background: url(../assets/img/splash-char1.svg) no-repeat;
  background-size: 85px 166px;
}


.splash-char2 {
  height: 146px;
  width: 77px;
  left: -160px;
  right: 0;
  margin: auto;
  z-index: 101;
  background: url(../assets/img/splash-char2.svg) no-repeat;
  background-size: 77px 146px;
}

.splash-char3 {
  height: 146px;
  width: 77px;
  left: 0;
  right: -160px;
  margin: auto;
  z-index: 100;
  background: url(../assets/img/splash-char3.svg) no-repeat;
  background-size: 77px 146px;
}

.splash-bg1 {
  position: absolute;
  height: 166px;
  width: 300px;
  top:-60px;
  margin: auto;
  z-index: 99;
  background: url(../assets/img/splash-bg1.svg) no-repeat;
  background-size: 300px 166px;
}

.splash-bg2 {
  position: absolute;
  height: 166px;
  width: 300px;
  top:-60px;
  margin: auto;
  z-index: 98;
  background: url(../assets/img/splash-bg2.svg) no-repeat;
  background-size: 300px 166px;
}

.splash-text {
  position: absolute;
  bottom: -20px;
  width: 100%;
  z-index: 122;
}



// Weeplan spinner

// Spinner in content, absolute positionning
.content-loading, .content-nosignal, .content-noactivity {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 26%;
    max-width: 260px;
    margin: auto;
    h4 {

    }
    p {
      color: color($colors, medium);
    }

    .ion-md-nosignal, .ion-ios-nosignal {
      font-size: 3em;
      color: color($colors, primary);
    }
    .noactivity-img {
      height: 144px;
      width: 144px;
      margin: auto;
      background: url(../assets/img/no-activity-found.svg) no-repeat;
      background-size: 144px 144px;
    }

}


// Profile page

.profile-header {
  background-color: color($colors, lightbg);
  text-align: center;
  .profile-pic {
    margin: auto;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      height: 30px;
      width: 30px;
      right: -4px;
      bottom: -4px;
      border-radius: 15px;
      background: url(../assets/img/profile-pic-add.png) no-repeat;
      background-size: 30px 30px;
      box-shadow: 0 6px 12px rgba(0,0,0,0.12);
    }
  }
}

.profile-list-email {
  color: color($colors, medium);
  max-width: 160px;
}


.profile-list-deco-button {
  color: color($colors, danger);
}


// CHATBOT

.chat-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    max-height: 100%;
    max-width: 580px;
    margin: auto;
}

.chat-weeplan-container {
  position: relative;
  margin-top: 0;

  &:before {
    content: '';
    position: absolute;
    left:-6px;
    bottom: 8px;
    height: 28px;
    width: 28px;
    background: url(../assets/img/chat-weeplan-avatar.png) no-repeat;
    background-size: 28px 28px;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
  }
}

.chat-user-container {
  position: relative;
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-end;
}

@keyframes chatAppear {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: inline-block;
    opacity: 0;
    transform: scale(0.8) rotate(8deg) translateY(100px);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg) translateY(0px);
  }
}

.chat-bubble {
  width: auto;
  max-width: 400px;
  padding: 12px 16px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.08);
  margin-bottom: 10px;
  opacity: 0;
  display: none;
  transition: transform 400ms cubic-bezier(1, 0, 0, 1);
  &.show {
    opacity: 1;
    display: inline-block;
    animation: chatAppear 400ms cubic-bezier(1, 0, 0, 1) forwards;
  }


  &.chat-bubble-weeplan {
    margin-left: 36px;
    background-color: white;
    border-radius: 22px 22px 22px 6px;
    transform: scale(0.8) rotate(8deg) translateY(100px);
    transform-origin: bottom left;
    &.chat-bubble-weeplan-loading {
      height: 36px;
      width: 60px;
      box-shadow: none;
      background: url(../assets/img/chat-bubble-loading.png) rgba(0,0,0,0.04) left center;
      background-size: 240px 36px;
    }
  }
  &.chat-bubble-user {
    text-align: right;
    background-color: white;
    border-radius: 22px 22px 6px 22px;
    transform: scale(0.8) rotate(-8deg) translateY(100px);
    transform-origin: bottom right;
    background-image: $app-gradient;
    color: white;
    font-weight: 600;

    &.chat-bubble-select {
      background-image: none;
      background-color: transparent;
      box-shadow: none;
      margin-bottom: 30px;
    }


  }

  &.chat-bubble-input {
    padding: 0 16px;
    input {
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(255,255,255,0.7);
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: rgba(255,255,255,0.7);
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: rgba(255,255,255,0.7);
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: rgba(255,255,255,0.7);
      }
    }
  }
}


.emoji-chat {
  display: inline-block;
  margin-left: 8px;
  &.emoji-chat-1 {
    height: 20px;
    width: 38px;
    background: url(../assets/img/emoji-chat-1.png) no-repeat;
    background-size: 38px 20px;
  }
  &.emoji-chat-2 {
    height: 20px;
    width: 18px;
    background: url(../assets/img/emoji-chat-2.png) no-repeat;
    background-size: 18px 20px;
  }
}




@keyframes chatLoad {
   100% { background-position: -240px; }
}



// Change ion-spinner color later...
ion-spinner {
  width: 44px;
  height: 44px;
}

.action-sheet-group {
  ion-icon {
    color: color($colors, medium);
    opacity: 0.8;
    font-size: 0.8em;
    &.icon-ios {
      display: none;
    }
  }
}



// MAP



#map{
  position: fixed;
  top:56px;
  bottom: 100px;
  left: 0;
  right: 0;
   width: 100%;
   height: 460px;
}

// map marker
.map-marker-position {
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #0DFFEB;
  border: 2px solid #0DE3D1;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.20);
  &:before {
    content: "";
    position: absolute;
    height: 48px;
    width: 48px;
    left: -19px;
    top: -19px;
    border-radius: 50%;
    background: rgba(13,255,235,0.16);
    animation: pulsate 2s normal infinite;

  }
}


.map-list-container {
  position: relative;
  width: 100%;
  top: 400px;
  bottom: 0;
  background-color: white;
  box-shadow: 0 -6px 20px rgba(0,0,0,0.12);
  overflow-y: scroll;
  overflow-x: hidden;
  &.scroll {
    position: fixed;
    top: 200px;
  }
}


.map-activity-list {
  background-color: white;

  pointer-events: all;
  padding-bottom: 30px;
  padding-top: 2px;
}



// Weeplan Nunito font

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito"), local("Nunito-Regular"), url("../assets/fonts/Nunito-Regular.woff") format("woff"), url("../assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: local("Nunito SemiBold"), local("Nunito-SemiBold"), url("../assets/fonts/Nunito-SemiBold.woff") format("woff"), url("../assets/fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: local("Nunito Bold"), local("Nunito-Bold"), url("../assets/fonts/Nunito-Bold.woff") format("woff"), url("../assets/fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito ExtraBold"), local("Nunito-ExtraBold"), url("../assets/fonts/Nunito-ExtraBold.woff") format("woff"), url("../assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
}

// Weeplan Icon font

@font-face {
  font-family: "weeplanionic-icons";
  src: url("../assets/fonts/weeplanionic-icons.woff") format("woff"),
  url("../assets/fonts/weeplanionic-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.ion-md-yep:before, .ion-ios-yep:before {
  font-family: "weeplanionic-icons" !important;
  content: "\61";
}

.ion-md-nope:before, .ion-ios-nope:before {
  font-family: "weeplanionic-icons" !important;
  content: "\62";
}

.ion-md-date:before, .ion-ios-date:before {
  font-family: "weeplanionic-icons" !important;
  content: "\64";
}
.ion-md-euro:before, .ion-ios-euro:before {
  font-family: "weeplanionic-icons" !important;
  content: "\65";
}
.ion-md-location:before, .ion-ios-location:before {
  font-family: "weeplanionic-icons" !important;
  content: "\66";
}

.ion-md-like:before, .ion-ios-like:before {
  font-family: "weeplanionic-icons" !important;
  content: "\68";
}

.ion-md-liked:before, .ion-ios-liked:before {
  font-family: "weeplanionic-icons" !important;
  content: "\67";
}

.ion-md-nosignal:before, .ion-ios-nosignal:before {
  font-family: "weeplanionic-icons" !important;
  content: "\69";
}

.ion-md-position:before, .ion-ios-position:before {
  font-family: "weeplanionic-icons" !important;
  content: "\6a";
}

.ion-md-search:before, .ion-ios-search:before {
  font-family: "weeplanionic-icons" !important;
  content: "\6b";
}
.ion-md-settings:before, .ion-ios-settings:before  {
  font-family: "weeplanionic-icons" !important;
  content: "\6c";
}
.ion-md-history:before, .ion-ios-history:before {
  font-family: "weeplanionic-icons" !important;
  content: "\6d";
}
.ion-md-close:before, .ion-ios-close:before {
  font-family: "weeplanionic-icons" !important;
  content: "\6e";
}
.ion-md-add:before, .ion-ios-add:before {
  font-family: "weeplanionic-icons" !important;
  content: "\6f";
}
.ion-md-camera:before, .ion-ios-camera:before {
  font-family: "weeplanionic-icons" !important;
  content: "\70";
}
.ion-md-library:before, .ion-ios-library:before {
  font-family: "weeplanionic-icons" !important;
  content: "\71";
}
.ion-md-menu:before, .ion-ios-menu:before {
  font-family: "weeplanionic-icons" !important;
  content: "\72";
}
.ion-md-menu-notif:before, .ion-ios-menu-notif:before {
  font-family: "weeplanionic-icons" !important;
  content: "\74";
}
.ion-md-menu-notif:after, .ion-ios-menu-notif:after{
  content: '';
  position: absolute;
  top: 5px;
  right: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(255,255,255,0.8);
  animation: pulse 1.2s normal infinite;
}
.ion-md-dropdown:before, .ion-ios-dropdown:before {
  font-family: "weeplanionic-icons" !important;
  content: "\73";
}
.ion-md-check:before, .ion-ios-check:before {
  font-family: "weeplanionic-icons" !important;
  content: "\75";
}
.ion-md-cards:before, .ion-ios-cards:before {
  font-family: "weeplanionic-icons" !important;
  content: "\76";
}


// ScaleUp animation for liking activities
@keyframes scaleUp {
  from {
      transform: scale(0, 0);
  }
  50% {
      transform: scale(1.2, 1.2);
  }
  to {
      transform: scale(1, 1);
  }
}

@keyframes pulse {
  from {
      transform: scale(1, 1);
  }
  50% {
      transform: scale(1.4, 1.4);
  }
  to {
      transform: scale(1, 1);
  }
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
