// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body{
}

ion-app.md {
  font-family: 'Nunito';
  font-weight: 400;
}


/*

WEEPLAN ANDROID

*/



.title-md {
  color: #FFF;
}

.toolbar-background-md {
  background-color: color($colors, primary);
}




// Android bottom toolbar

.footer-md {
  &::before {
    display: none;
  }
    box-shadow: none;
  .toolbar-background-md {
    background-color: transparent;
    background-image: $footer-toolbar-gradient;


  }
}

.ion-md-yep {
 color: color($colors, primary);
}

ion-card-header {
  font-weight: 600;
}

// Weeplan Nunito font

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito"), local("Nunito-Regular"), url("../assets/fonts/Nunito-Regular.woff") format("woff"), url("../assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: local("Nunito SemiBold"), local("Nunito-SemiBold"), url("../assets/fonts/Nunito-SemiBold.woff") format("woff"), url("../assets/fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: local("Nunito Bold"), local("Nunito-Bold"), url("../assets/fonts/Nunito-Bold.woff") format("woff"), url("../assets/fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito ExtraBold"), local("Nunito-ExtraBold"), url("../assets/fonts/Nunito-ExtraBold.woff") format("woff"), url("../assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
}

// Weeplan Icon font

@font-face {
  font-family: "weeplanionic-icons";
  src: url("../assets/fonts/weeplanionic-icons.woff") format("woff"),
  url("../assets/fonts/weeplanionic-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.ion-md-yep:before {
  font-family: "weeplanionic-icons" !important;
  content: "\61";
}

.ion-md-nope:before {
  font-family: "weeplanionic-icons" !important;
  content: "\62";
}
